body{
    background-color: rgb(255, 255, 255);
    font-family: 'Karla', sans-serif;
    
}
    .wrapper{
        margin: 60px;
    }
#header{
    height: 550px;
    margin: 100px 50px 0px 50px ;
}
    #header h1{
        font-size: 4em;
        color: coral;
    }
    #header p{
        font-size: 1.5em;
        margin-bottom: 50px;
    }
    #header a{
        font-size: 1.5em;
        text-decoration: none;
        border: 1px solid;
        padding: 10px;
        border-radius: 50px;
        color: coral;
    }

    #img-bolita{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header #images-banner{
        border: 1px solid;
        padding: 15px;
        border-radius: 100px;
        color: black;
        z-index: 0;
        margin: 10px;
        position: relative;
        left: 10px;
        width: 6%;
    }
    .arriba{
        animation: arriba 3s infinite;

    }
    .abajo{
        animation: abajo 3s infinite;
    }

    @keyframes arriba {
        0%{
            transform: translateY(45px);      

        }
        50%{
            transform: translateY(0px);      
        }
        100%{
            transform: translateY(45px);      
        }   
    }
    @keyframes abajo {
        0%{
            transform: translateY(0px);      

        }
        50%{
            transform: translateY(45px);      
        }
        100%{
            transform: translateY(0px); 
        }     
   
    }
    .levels{
        margin-left: 53px;
        font-size: 2.5em;
    }

        main{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

        }
            .article{
                border: 1px solid ;
                border-radius: 5px;
                width: 40%;
                padding: 20px;
                display: flex; 
                justify-content: space-between;
                margin-bottom: 30px;
                
            }
                .article header{
                    width: 50%;
                    
                }
                
                .article form{
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    border-radius: 40px;
                    padding: 14px;
                    justify-content: center;
                    align-items: center;
                }
                #one form{
                    background-color: rgb(255, 175, 146);
                }
                    #one form input{
                        margin: 10px 0px 10px 0px;
                        padding: 5px;
                        border-radius: 3px;
                        border: 1px solid white;
                    }
                    
                    .buttons{
                        width: 55%;
                    }
                    .article form button{
                        margin: 10px 0px 10px 0px;
                        padding: 5px;
                        border-radius: 3px;
                        border: 1px solid white;
                        display: flex;
                        align-self: center;
                        cursor: pointer;
                    }

                    #result{
                        border: 1px solid white;
                        border-radius: 3px;
                        height: 30px;
                        background-color: white;
                        width: 50%;
                        display: block;
                        margin: auto;
                        padding-top: 10px;
                        text-align: center;                       
                    }
                    #one header img{
                        width: 25%;
                        animation: carInMovement 4s infinite;
                    }
                        @keyframes carInMovement {
                            0%{
                                transform: translateX(0%);  
                            }
                            100%{
                                transform: translateX(270%);
                            }
  
                        }
                #two form{
                    background-color: rgb(87, 146, 148);
                    color: white;
                    text-align: center;
                }
                    #two form input{
                        margin: 10px;
                        padding: 5px;
                        height: 40px;
                    }
                #two header img{
                    animation: rotar 3s infinite 4s forwards;
                    display: block;
                    margin: auto;
                }
                @keyframes rotar {
                    0%{
                        width: 25%;
                    }

                    100%{
                        width: 35%;
                    }

                    
                }